*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    justify-items: center;
    align-items: center;
    /* IF IT'S DONE BY FLEXBOX */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
main{
    height: 500px;
    /* IF IT'S DONE BY FLEXBOX */
    /* flex-basis: 95%; */
    width: 95%;
    display: grid;
    font-size: 40px;
    font-weight: 650;
    color: azure;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 80px;
    /* here auto is equal to 1fr, both fill the rest space of the div & also are use for responsiveness */
}
.div{
    display: grid;
    justify-items: center;
    align-items: center;
}
.one{
    background-color: aqua;
    grid-column: 1 / 7;
}
.two{
    background-color: aquamarine;
    grid-column: 7 / -1;
}
.three{
    background-color: cadetblue;
    grid-column: 1 / span 12;
    /* here span 12 or -1 is equal, -1 means last line & span 12 means span(bistar) it for grid no 12 or line 13   */
}
.four{
    background-color: darkcyan;
    grid-column: 1 / 13;
    /* here 13 is equal to -1 cause -1 & 13 both are meaning last line of the grid   */
}
@media (min-width: 1024px) {
    main{
        width: 90%;
        height: 650px;
    }
    .one{
        grid-column: 1 / -1;
    }
    .two{
        grid-column: 1 / 4;
    }
    .three{
        grid-column: 4 / -1;
    }
    .four{
        grid-column: 1 / -1;
    }
}